<!DOCTYPE html>
<html>
<head>
    <title>My Cart</title>
</head>
<body>

<h1>My Cart</h1>

{% if cart_items %}
<table border="1" cellpadding="10">
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Action</th>
    </tr>
    

    {% for item in cart_items %}
    <tr>
        <td>{{ item.product.name }}</td>
        <td>₹{{ item.product.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>₹{{ item.total_price }}</td>
        <td><a href="{% url 'remove_from_cart' item.id %}">Remove</a></td>
    </tr>
    {% endfor %}
</table>

<h3>Grand Total: ₹{{ total_amount }}</h3>
{% if cart_items %}
    <h3>Grand Total: ₹{{ total_amount }}</h3>
    <a href="{% url 'checkout' %}">Place Order</a>
{% endif %}

{% else %}
<p>Your cart is empty</p>
{% endif %}

</body>
</html>
